<div>
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="visitasList">Visitas</a></li>
        <li>Detalhes</li>
    </ol>
    <div class="navbar navbar-default" ng-if="(vm.podeRegistrarCheckIn || vm.podeEditarVisita || vm.podeFinalizarVisita) && (vm.visita.status === 'pendente' || vm.visita.status !== 'concluida')">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando" ng-click="vm.registrarCheckIn()" ng-if="vm.podeRegistrarCheckIn && vm.visita.status==='pendente'">
                        {{ vm.registrandoCheckin === true ? 'Registrando...' : 'Registrar Check-In' }}
                    </button>
                    <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando"
                            ng-click="vm.salvar()"
                            ng-if="vm.podeEditarVisita && vm.visita.status !== 'concluida'">
                        {{ vm.salvando === true ? 'Salvando...' : 'Salvar' }}
                    </button>
                    <button type="button" class="btn btn-danger navbar-btn" ng-disabled="vm.carregando" ng-click="vm.finalizar()" ng-if="vm.podeFinalizarVisita && vm.visita.status !== 'concluida'">Finalizar</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="numeroVisita">Nº Visita</label>
                        <input type="text" id="numeroVisita" ng-model="vm.visita.codigo" readonly class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="data">Data marcada</label>
                        <input type="text" id="data" readonly class="form-control" value="{{vm.formatarData(vm.visita.data)}}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="dataInicio">Início/Check-in</label>
                        <div class="input-group">
                            <input type="text" id="dataInicio" readonly class="form-control" value="{{vm.formatarData(vm.visita.dataInicio)}}"/>
                            <span class="input-group-btn">
                                <a class="btn btn-default" ng-disabled="!vm.checkinPosicionado"
                                        ng-href="https://www.google.com/maps/search/?api=1&query={{vm.visita.posicaoCheckin.latitude}},{{vm.visita.posicaoCheckin.longitude}}" target="_blank">
                                    <i class="glyphicon glyphicon-map-marker" uib-tooltip="{{ vm.checkinPosicionado == true ? 'Ver Check-in no Google Maps' : 'Check-in não foi registrado com a posição do GPS' }}"></i>
                                </a>
                            </span>
                        </div>

                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="dataFim">Fim</label>
                        <input type="text" id="dataFim" readonly class="form-control" value="{{vm.formatarData(vm.visita.dataFim)}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="cliente">Cliente</label>
                        <div class="input-group">
                            <input type="text" id="cliente" readonly class="form-control" value="{{vm.visita.imovel.clientes[0].codigo + '-' + vm.visita.imovel.clientes[0].nome}}"/>
                            <span class="input-group-btn">
                                <a class="btn btn-default" ng-click="vm.abrirClienteEdicao(vm.visita.imovel.clientes[0]); $event.preventDefault()">
                                    <i class="glyphicon glyphicon-edit" uib-tooltip="Editar Cliente"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="imovel">Imóvel</label>
                        <div class="input-group">
                            <input type="text" id="imovel" readonly class="form-control" value="{{vm.visita.imovel.codigo + '-' + vm.visita.imovel.descricao}}"/>
                            <span class="input-group-btn">
                                <a class="btn btn-default" ng-click="vm.abrirImovelEdicao(vm.visita.imovel); $event.preventDefault()">
                                    <i class="glyphicon glyphicon-edit" uib-tooltip="Editar Imóvel"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="endereco">Local</label>
                        <input type="text" id="endereco" readonly class="form-control" value="{{vm.formatarEndereco(vm.visita.imovel.endereco)}}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="vendedor">Vendedor</label>
                        <input type="text" id="vendedor" readonly class="form-control" value="{{vm.visita.vendedor.codigo + '-' + vm.visita.vendedor.nome}}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="situacao">Situação</label>
                        <input type="text" id="situacao" readonly class="form-control" value="{{vm.formatarSituacao(vm.visita)}}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="dataCriacao">Data cadastro</label>
                        <input class="form-control" type="text" name="dataCriacao" id="dataCriacao" ng-disabled="true"
                               value="{{::vm.visita.dataCriacao | date : 'dd/MM/yyyy HH:mm'}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="motivo">Motivo da visita</label>
                        <input type="text" id="motivo" class="form-control" ng-model="vm.visita.motivo" readonly />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="resultado">Resultado da visita</label>
                        <input type="text" id="resultado" class="form-control" ng-model="vm.visita.resultado" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="produtosOferecidos">Produtos oferecidos</label>
                        <textarea id="produtosOferecidos" class="form-control" ng-model="vm.visita.produtosOferecidos" ></textarea>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="observacoes">Observações</label>
                        <textarea id="observacoes" class="form-control" ng-model="vm.visita.observacoes" ></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>