<ol class="breadcrumb">
    <li>Visitas</li>
</ol>
<div class="row">
    <form>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataInicial">Data Agendamento</label>
            <div class="input-group">
                <input id="dataInicial" type="text" class="form-control" is-open="vm.dataInicial.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataInicial.dateOptions"  readonly ng-model="vm.filtro.dataInicial" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataInicial')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataFinal">&nbsp;</label>
            <div class="input-group">
                <input id="dataFinal" type="text" class="form-control" is-open="vm.dataFinal.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataFinal.dateOptions"  readonly ng-model="vm.filtro.dataFinal" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataFinal')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataInicialCadastro">Data Cadastro</label>
            <div class="input-group">
                <input id="dataInicialCadastro" type="text" class="form-control" is-open="vm.dataInicialCadastro.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataInicialCadastro.dateOptions"  readonly ng-model="vm.filtro.dataInicialCadastro" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataInicialCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataFinalCadastro">&nbsp;</label>
            <div class="input-group">
                <input id="dataFinalCadastro" type="text" class="form-control" is-open="vm.dataFinalCadastro.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataFinalCadastro.dateOptions"  readonly ng-model="vm.filtro.dataFinalCadastro" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataFinalCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataInicialCheckin">Data Check-in</label>
            <div class="input-group">
                <input id="dataInicialCheckin" type="text" class="form-control" is-open="vm.dataInicialCheckin.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataInicialCheckin.dateOptions"  readonly ng-model="vm.filtro.dataInicialCheckin" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataInicialCheckin')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataFinalCheckin">&nbsp;</label>
            <div class="input-group">
                <input id="dataFinalCheckin" type="text" class="form-control" is-open="vm.dataFinalCheckin.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataFinalCheckin.dateOptions"  readonly ng-model="vm.filtro.dataFinalCheckin" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataFinalCheckin')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataInicialConclusaoVisita">Data Conclusão</label>
            <div class="input-group">
                <input id="dataInicialConclusaoVisita" type="text" class="form-control" is-open="vm.dataInicialConclusaoVisita.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataInicialConclusaoVisita.dateOptions"  readonly ng-model="vm.filtro.dataInicialConclusaoVisita" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataInicialConclusaoVisita')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label for="dataFinalConclusaoVisita">&nbsp;</label>
            <div class="input-group">
                <input id="dataFinalConclusaoVisita" type="text" class="form-control" is-open="vm.dataFinalConclusaoVisita.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataFinalConclusaoVisita.dateOptions"  readonly ng-model="vm.filtro.dataFinalConclusaoVisita" style="background:#fff"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataFinalConclusaoVisita')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label>Cliente</label>
            <input type="text" ng-model="vm.filtro.cliente" class="form-control" />
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label>Vendedor</label>
            <select id="vendedor" name="vendedor" ng-model="vm.filtro.vendedor" class="form-control"
                    ng-disabled="!vm.podeListarVisitasTodosUsuarios"
                    ng-options="vendedor.codigo as vendedor.nome for vendedor in vm.vendedores | orderBy: 'nome'">
                <option value="" ng-if="::vm.podeListarVisitasTodosUsuarios">Todos</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label>Endereço</label>
            <input type="text" ng-model="vm.filtro.endereco" class="form-control" />
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label>Bairro</label>
            <input type="text" ng-model="vm.filtro.bairro" class="form-control" />
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label>Cidade</label>
            <input type="text" ng-model="vm.filtro.cidade" class="form-control" />
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label for="uf">UF</label>
            <select id="uf" name="uf" ng-model="vm.filtro.uf" class="form-control"
                    ng-options="uf for uf in vm.estados" >
                <option value="">Todos</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label>Situação</label>
            <select id="situacao" ng-model="vm.filtro.situacao" class="form-control">
                <option value="">Todas</option>
                <option value="pendente">{{vm.formatarSituacao('pendente')}}</option>
                <option value="em-andamento">{{vm.formatarSituacao('em-andamento')}}</option>
                <option value="concluida">{{vm.formatarSituacao('concluida')}}</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label class="hidden-xs">&nbsp;</label>
            <button type="submit" class="btn btn-primary col-xs-12" ng-click="vm.load()">
                <i class="glyphicon glyphicon-refresh"></i>&nbsp;Atualizar/Carregar</button>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label class="hidden-xs">&nbsp;</label>
            <button type="button" class="btn btn-default col-xs-12" ng-click="vm.limparFiltros()">
                <i class="glyphicon glyphicon-remove"></i>&nbsp;Limpar Filtros</button>
        </div>
        <div class="form-group col-xs-12 col-xm-3 col-md-2">
            <label class="hidden-xs">&nbsp;</label>
            <button type="button" class="btn btn-info col-xs-12" ng-click="vm.abrirNoMapa()" ng-disabled="vm.visitas.length === 0">
                <i class="glyphicon glyphicon-map-marker"></i>&nbsp;Abrir Google Maps</button>
            </button>
        </div>
    </form>
</div>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Imóvel</th>
            <th>Local</th>
            <th>Motivo</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Cadastro</th>
            <th>Situação</th>
            <!--<th>Ações</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="visita in vm.visitas">
            <td>{{visita.codigo}}</td>
            <td>{{visita.data | date: 'dd/MM/yyyy' }}</td>
            <td>{{visita.data | date: 'HH:mm' }}</td>
            <td>
                <a href="#" target="_blank" ui-sref="imovelForm({ codigo: visita.imovel.codigo })">
                    {{visita.imovel.codigo + '-' + visita.imovel.descricao}}
                </a>
            </td>
            <td>{{vm.formatarEndereco(visita.imovel.endereco)}}</td>
            <td>{{visita.motivo}}</td>
            <td>
                <a href="#" target="_blank" ui-sref="clienteForm({ codigo: visita.imovel.clientes[0].codigo })">
                    {{visita.imovel.clientes[0].codigo + '-' + visita.imovel.clientes[0].nome}}
                </a>
            </td>
            <td>
                {{visita.vendedor.nome}}
            </td>
            <td>
                {{visita.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}
            </td>
            <td>
                {{vm.formatarSituacao(visita)}}
            </td>
            <td style="min-width: 80px">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        Ações&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a href="#" ng-click="vm.abrirVisita(visita); $event.preventDefault();">
                                {{::vm.getTextoEdicaoVisita(visita)}}
                            </a>
                        </li>
                        <li role="menuitem" ng-if="::vm.podeExcluirVisita(visita)">
                            <a href="#" ng-click="vm.excluirVisita(visita); $event.preventDefault();">Excluir</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

