.modal {
    display: block;
}

.form-tab {
    border: 1px solid rgb(221,221,221);
    border-top: none;
    padding: 16px;
}

#status-bar {
    background: #fff;
    text-align: right;
    font-size: 10px;
    padding: 5px;
}