<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A CASA VIP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/angular-chips/dist/main.css">
    <link rel="stylesheet" href="casavip.css?v=20170813">
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
</head>
<body ng-app="casavip">
    <div id="status-bar" ng-controller="StatusBarController as statusBar" ng-cloak ng-show="statusBar.empresa" ng-if="autenticado" >
        Olá, <strong>{{statusBar.nomeUsuario}}</strong>! Você está logado na <strong>{{statusBar.empresa.codigo + '-' + statusBar.empresa.razaoSocial}}</strong> (<a href="#" ui-sref="sair">Sair</a>)
    </div>
    <nav class="navbar navbar-default" ng-controller="MenuController as menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" ng-click="menu.navegacaoFechada = !menu.navegacaoFechada">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="principal">A CASA VIP</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1" ng-if="autenticado" uib-collapse="menu.navegacaoFechada">
                <ul class="nav navbar-nav">
                    <li ng-if="menu.podeExibirEmpresaAdmin">
                        <a href="#" ui-sref="empresaList" ng-click="menu.navegacaoFechada = true">Empresas</a>
                    </li>
                    <li ng-if="!menu.podeExibirEmpresaAdmin && menu.podeListarClientes">
                        <a href="#" ui-sref="clienteList" ng-click="menu.navegacaoFechada = true">Clientes</a>
                    </li>
                    <li ng-if="!menu.podeExibirEmpresaAdmin && menu.podeListarImoveis">
                        <a href="#" ui-sref="imovelList" ng-click="menu.navegacaoFechada = true">Imóveis</a>
                    </li>
                    <li ng-if="!menu.podeExibirEmpresaAdmin && menu.podeListarVisitas">
                        <a href="#" ui-sref="visitasList" ng-click="menu.navegacaoFechada = true">Visitas</a>
                    </li>
                    <li ng-if="!menu.podeExibirEmpresaAdmin && menu.podeListarUsuarios">
                        <a href="#" ui-sref="usuarioList" ng-click="menu.navegacaoFechada = true">Usuários</a>
                    </li>
                    <li ng-if="!menu.podeExibirEmpresaAdmin && menu.podeListarPerfis">
                        <a href="#" ui-sref="perfilList" ng-click="menu.navegacaoFechada = true">Permissões</a>
                    </li>
                    <li>
                        <a href="#" ui-sref="sair" ng-click="menu.navegacaoFechada = true">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ui-view class="container">

    </div>
    <script src="app/polyfills.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/pt-br.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-chips/dist/angular-chips.min.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="app/module.js"></script>
    <script src="app/config.js?v=1.1.0"></script>
    <script src="app/seguranca/auth.js?v=1.1.0"></script>
    <script src="app/util/base64.js"></script>
    <script src="app/util/formatacao.js"></script>
    <script src="app/util/modal-confirmacao.js"></script>
    <script src="app/util/modal-alerta.js"></script>
    <script src="app/util/storage.js?v=1.1.0"></script>
    <script src="app/api/api.service.js?v=1.4.0"></script>
    <script src="app/principal/menu.js?v=1.1.0"></script>
    <script src="app/seguranca/login.js?v=1.1.0"></script>
    <script src="app/seguranca/logout.js?v=1.1.0"></script>
    <script src="app/seguranca/usuario-list.js?v=1.1.0"></script>
    <script src="app/seguranca/usuario-form.js?v=1.1.0"></script>
    <script src="app/seguranca/perfil-form.js?v=1.1.0"></script>
    <script src="app/seguranca/perfil-list.js?v=1.1.0"></script>
    <script src="app/cadastro/cliente-list.js?v=1.1.0"></script>
    <script src="app/cadastro/cliente-form.js?v=1.1.0"></script>
    <script src="app/cadastro/empresa-list.js?v=1.1.0"></script>
    <script src="app/cadastro/empresa-form.js?v=1.1.0"></script>
    <script src="app/imoveis/agendamento-visita.js?v=1.1.0"></script>
    <script src="app/imoveis/imovel-form.js?v=1.2.1"></script>
    <script src="app/imoveis/imovel-list.js?v=1.4.0"></script>
    <script src="app/vendas/visitas-list.js?v=1.3.0"></script>
    <script src="app/vendas/visitas-form.js?v=1.2.1"></script>
    <script src="app/principal/index.js?v=1.1.0"></script>
    <script src="app/principal/status-bar.js?v=1.1.0"></script>
</body>
</html>
