<div>
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="clienteList">Clientes</a></li>
        <li>{{vm.titulo}}</li>
    </ol>
    <div class="navbar navbar-default" ng-if="vm.podeInserirCliente || vm.podeSalvarCliente">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeInserirCliente" ng-click="vm.abrirNovoCadastro()" >Novo</button>
                    <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeSalvarCliente" ng-click="vm.salvarCliente()">Salvar</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-4">
                        <label for="nome">Nome*</label>
                        <input class="form-control" type="text" name="nome" id="nome" ng-model="vm.cliente.nome" ng-required />
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="email" name="email" id="email" ng-model="vm.cliente.email" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-2">
                        <label for="telefone">Telefone</label>
                        <input class="form-control" type="text" name="telefone" id="telefone" ng-model="vm.cliente.telefone" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-2">
                        <label for="codSistemaInterno">Cód. Interno</label>
                        <input class="form-control" type="text" name="codSistemaInterno" id="codSistemaInterno" ng-model="vm.cliente.codSistemaInterno" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label for="cep">CEP</label>
                        <div class="input-group">
                            <input class="form-control" type="text" name="cep" id="cep" ng-model="vm.cliente.endereco.cep" />
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5">
                        <label for="logradouro">Endereço</label>
                        <input class="form-control" type="text" name="logradouro" id="logradouro" ng-model="vm.cliente.endereco.logradouro" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-2 col-md-2">
                        <label for="numero">Nº</label>
                        <input class="form-control" type="text" name="numero" id="numero" ng-model="vm.cliente.endereco.numero" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-2 col-md-3">
                        <label for="bairro">Complemento</label>
                        <input class="form-control" type="complemento" name="complemento" id="complemento" ng-model="vm.cliente.endereco.complemento" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="bairro">Bairro</label>
                        <input class="form-control" type="bairro" name="bairro" id="bairro" ng-model="vm.cliente.endereco.bairro" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label for="cidade">Cidade</label>
                        <input class="form-control" type="cidade" name="cidade" id="cidade" ng-model="vm.cliente.endereco.cidade" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-2">
                        <label for="uf">UF</label>
                        <select id="uf" name="uf" ng-model="vm.cliente.endereco.uf" class="form-control">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Tipo(s) de cliente
                        </div>
                    </div>
                    <div class="panel-body">
                        <label class="checkbox-inline" ng-repeat="tipoCliente in vm.tiposCliente">
                            <input type="checkbox" name="tipoCliente[]" ng-checked="vm.tiposClienteSelecionados.indexOf(tipoCliente.codigo) > -1"
                                   ng-value="tipoCliente.codigo" ng-click="vm.selecionarTipoCliente(tipoCliente)" />&nbsp;{{tipoCliente.descricao}}

                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
