<ol class="breadcrumb">
    <li>Clientes</li>
</ol>
<div class="navbar navbar-default" ng-if="::vm.podeInserirCliente">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button href="#" ui-sref="clienteForm" type="button" class="btn btn-default navbar-btn">Novo</button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <form>
        <div class="form-group col-xs-12 col-sm-6 col-md-8">
            <label for="nome">Nome do cliente:</label>
            <input name="nome" id="nome" type="text" ng-model="vm.filtro.nome" class="form-control" />
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label class="hidden-xs">&nbsp;</label>
            <button type="submit" class="btn btn-primary col-xs-12" ng-click="vm.load()">
                <i class="glyphicon glyphicon-refresh"></i>&nbsp;Atualizar/Carregar</button>
        </div>
        <div class="form-group col-xs-12 col-sm-3 col-md-2">
            <label class="hidden-xs">&nbsp;</label>
            <button type="button" class="btn btn-default col-xs-12" ng-click="vm.limparFiltros()">
                <i class="glyphicon glyphicon-remove"></i>&nbsp;Limpar Filtros</button>
        </div>
    </form>
</div>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Cód.</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Tipo(s)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody ng-if="vm.pesquisando">
        <tr>
            <td colspan="6" style="text-align: center;">
                Pesquisando...
            </td>
        </tr>
    </tbody>
    <tbody ng-if="!vm.pesquisando && vm.clientes.length === 0">
        <tr>
            <td colspan="6" style="text-align: center">Nenhum cliente foi localizado</td>
        </tr>
    </tbody>
    <tbody ng-if="!vm.pesquisando && vm.clientes.length">
        <tr ng-repeat="cliente in vm.clientes">
            <td>{{::cliente.codigo}}</td>
            <td style="width: 100%">{{::cliente.nome}}</td>
            <td style="width: 100%;min-width: 100px">{{::cliente.email}}</td>
            <td>{{::cliente.telefone}}</td>
            <td>{{::vm.formatarTiposCliente(cliente)}}</td>
            <td style="min-width: 80px">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        Ações&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a href="#" ui-sref="clienteForm({ codigo: cliente.codigo })">{{::vm.podeEditarCliente ? 'Editar' : 'Visualizar'}}</a>
                        </li>
                        <li role="menuitem" ng-if="::vm.podeExcluirCliente">
                            <a href="#" ng-click="vm.excluirCliente(cliente); $event.preventDefault();">Excluir</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>