<div>
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="empresaList">Empresas</a></li>
        <li>{{vm.titulo}}</li>
    </ol>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando">Novo</button>
                    <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando"
                            ng-click="vm.salvarEmpresa()">Salvar
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-4">
                        <label for="razaoSocial">Razão Social*</label>
                        <input class="form-control" type="text" name="razaoSocial" id="razaoSocial"
                               ng-model="vm.empresa.razaoSocial" ng-required/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label for="nomeFantasia">Nome Fantasia*</label>
                        <input class="form-control" type="text" name="nomeFantasia" id="nomeFantasia"
                               ng-model="vm.empresa.nomeFantasia" ng-required/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label for="cnpj">CNPJ</label>
                        <input class="form-control" type="text" name="cnpj" id="cnpj" ng-model="vm.empresa.cnpj"
                               ui-mask="99.999.999/9999-99" ng-required/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
