<ol class="breadcrumb">
    <li>Empresas</li>
</ol>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button  ui-sref="empresaForm()" type="button" class="btn btn-default navbar-btn">Novo</button>
            </li>
        </ul>
    </div>
</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Cód.</th>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>CNPJ</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="empresa in vm.empresas">
        <td>{{empresa.codigo}}</td>
        <td style="width: 50%">{{empresa.razaoSocial}}</td>
        <td style="width: 50%">{{empresa.nomeFantasia}}</td>
        <td style="min-width: 100px">{{empresa.cnpj}}</td>
        <td style="min-width: 80px">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    Ações&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem">
                        <a href="#" ui-sref="empresaForm({ codigo: empresa.codigo })">Editar</a>
                    </li>
                    <li role="menuitem">
                        <a href="" ng-click="vm.excluir(empresa)">Excluir</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>