<div class="col-sm-4 col-sm-offset-4" style="max-width:430px;">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Acessar sistema
        </div>
    </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" ng-model="vm.login" />
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" ng-model="vm.senha" />
                </div>
                <div class="form-group">
                    <label for="empresa">Cód. Empresa</label>
                    <input type="number" class="form-control" id="empresa" name="empresa" ng-model="vm.empresa" />
                </div>
                <button name="btnEntrar" type="button" class="btn btn-success col-xs-12" ng-click="vm.entrar()" ng-disabled="vm.autenticando">{{vm.textoBtnEntrar}}</button>
            </form>
        </div>
    </div>
</div>