<ol class="breadcrumb">
    <li><a href="#" ui-sref="perfilList">Perfil de Segurança</a></li>
    <li>{{vm.titulo}}</li>
</ol>
<div class="navbar navbar-default" ng-if="vm.podeInserirPerfil || vm.podeSalvar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeInserirPerfil" ng-click="vm.abrirNovoCadastro()">Novo</button>
                <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeSalvar"
                        ng-click="vm.salvar()" ng-click="vm.abrirNovoCadastro()">Salvar
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12">
                    <label for="nome">Nome*</label>
                    <input class="form-control" type="text" name="nome" id="nome" ng-model="vm.perfil.nome" ng-required
                           placeholder="Exemplo: Gerentes" ng-disabled="::vm.bloquearEdicaoNome"/>
                </div>
            </div>
            <div uib-accordion>
                <div uib-accordion-group class="panel-default" heading="{{::modulo.modulo}}"
                     ng-repeat="modulo in vm.modulos">
                        <div class="checkbox" ng-repeat="permissao in modulo.permissoes">
                            <label>
                                <input type="checkbox" name="permissao[]"
                                       ng-checked="vm.perfil.permissoes.indexOf(permissao.tag) > -1"
                                       ng-value="permissao.tag" ng-click="vm.selecionarPermissao(permissao)"/>&nbsp;{{::permissao.descricao}}
                            </label>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>