<ol class="breadcrumb">
    <li>Perfis de Segurança</li>
</ol>
<div class="navbar navbar-default" ng-if="::vm.podeInserirPerfil">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button href="#" ui-sref="perfilForm" type="button" class="btn btn-default navbar-btn">Novo</button>
            </li>
        </ul>
    </div>
</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="perfil in vm.perfis">
        <td>{{::perfil.codigo}}</td>
        <td>{{::perfil.nome}}</td>
        <td style="width: 80px">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    Ações&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem">
                        <a ui-sref="perfilForm({ codigo: perfil.codigo })">
                            {{::vm.podeEditarPerfil ? 'Editar' : 'Visualizar'}}
                        </a>
                    </li>
                    <li role="menuitem" ng-if="vm.podeExcluirPerfil && perfil.nome !== 'Administrador'">
                        <a ng-click="vm.excluirPerfil(perfil)">Excluir</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
