<ol class="breadcrumb">
    <li>Usuários</li>
</ol>
<div class="navbar navbar-default" ng-if="::vm.podeInserirUsuario">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button href="#" ui-sref="usuarioForm" type="button" class="btn btn-default navbar-btn">Novo</button>
            </li>
        </ul>
    </div>
</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Login</th>
        <th>Perfil</th>
        <th>Situação</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="usuario in vm.usuarios">
        <td>{{::usuario.codigo}}</td>
        <td>{{::usuario.nome}}</td>
        <td>{{::usuario.login}}</td>
        <td>{{::usuario.perfil.nome}}</td>
        <td>{{usuario.ativo === true ? 'Ativo' : 'Inativo'}}</td>
        <td style="width: 80px">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    Ações&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem">
                        <a ui-sref="usuarioForm({ codigo: usuario.codigo })">
                            {{::vm.podeEditarUsuario ? 'Editar' : 'Visualizar'}}
                        </a>
                    </li>
                    <li role="menuitem" ng-if="::vm.podeExcluirUsuario">
                        <a ng-click="vm.excluirUsuario(usuario)">Excluir</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
