<ol class="breadcrumb">
    <li><a href="#" ui-sref="usuarioList">Usuários</a></li>
    <li>{{vm.titulo}}</li>
</ol>
<div class="navbar navbar-default" ng-if="vm.podeInserirUsuario || vm.podeSalvar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeInserirUsuario" ng-click="vm.abrirNovoCadastro()">Novo</button>
                <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando" ng-click="vm.salvar()" ng-if="::vm.podeSalvar">Salvar</button>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-5">
                    <label for="nome">Nome*</label>
                    <input class="form-control" type="text" name="nome" id="nome" ng-model="vm.usuario.nome" ng-required />
                </div>
                <div class="form-group col-xs-12 col-sm-5">
                    <label for="email">E-mail*</label>
                    <input class="form-control" type="email" name="email" id="email" ng-model="vm.usuario.email" />
                </div>
                <div class="form-group col-xs-12 col-sm-2">
                    <label for="ativo">Ativo?</label>
                    <select id="ativo" name="ativo" class="form-control" ng-model="vm.usuario.ativo" ng-options="opt.value as opt.name for opt in [{ name: 'SIM', value: true }, {name: 'NÃO', value: false}]">
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label for="login">Login*</label>
                    <input class="form-control" type="text" name="login" id="login" ng-model="vm.usuario.login" />
                </div>
                <div class="form-group col-xs-12 col-sm-8" ng-hide="vm.alterarSenha">
                    <label style="display:block" class="hidden-xs">&nbsp;</label>
                    <button class="btn btn-default" ng-click="vm.habilitarAlteracaoSenha()">Alterar Senha</button>
                </div>
                <div class="form-group col-xs-12 col-sm-4" ng-show="vm.alterarSenha">
                    <label for="senha">Senha*</label>
                    <input class="form-control" type="password" name="senha" id="senha" ng-model="vm.usuario.senha" />
                </div>
                <div class="form-group col-xs-12 col-sm-4" ng-show="vm.alterarSenha">
                    <label for="confirmacaoSenha">Confirmar Senha*</label>
                    <input class="form-control" type="password" name="confirmacaoSenha" id="confirmacaoSenha" ng-model="vm.confirmacaoSenha" />
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label for="perfilSeguranca">Perfil</label>
                    <select id="perfilSeguranca" name="perfilSeguranca" class="form-control"
                            ng-options="perfil as perfil.nome for perfil in vm.perfis track by perfil.codigo"
                            ng-model="vm.usuario.perfil">
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>