<ol class="breadcrumb">
    <li><a href="#" ui-sref="imovelList">Imóveis</a></li>
    <li>Agendar Visita</li>
</ol>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
        <form>
            <div class="form-group col-xs-12 col-sm-2">
                <label for="codigoImovel">Cód. Imóvel</label>
                <input type="text" class="form-control" readonly id="codigoImovel" name="codigoImovel" value="{{vm.imovel.codigo}}" />
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <label for="clienteVisita">Cliente</label>
                <input type="text" class="form-control" readonly id="clienteVisita" name="clienteVisita" value="{{vm.imovel.cliente.codigo + '-' + vm.imovel.cliente.nome}}" />
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="enderecoVisita">Endereço</label>
                <input type="text" class="form-control" readonly id="enderecoVisita" name="enderecoVisita" value="{{vm.formatarEndereco(vm.imovel.endereco)}}" />
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="vendedor">Vendedor</label>
                <select id="vendedor" class="form-control" ng-model="vm.vendedor"
                        ng-disabled="!vm.podeAgendarVisitaTodosUsuarios"
                        ng-options="vendedor.nome for vendedor in vm.vendedores track by vendedor.codigo"></select>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <label for="dataVisita">Data*</label>
                <div class="input-group">
                    <input id="dataVisita" type="text" class="form-control" is-open="vm.dataVisita.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataVisita.dateOptions"  ng-model="vm.visita.data" style="background:#fff" readonly />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.abrirCalendarioDataVisita()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <label for="horarioVisita">Hora*</label>
                <input type="text" id="horarioVisita" class="form-control" ng-model="vm.visita.hora" ui-mask="99:99" model-view-value="true" />
            </div>
            <div class="form-group col-xs-12">
                <label for="motivoVisita">Motivo*</label>
                <input type="text" class="form-control" id="motivoVisita" name="motivoVisita" ng-model="vm.visita.motivo" />
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando"
                        ng-click="vm.salvar()">Confirmar Agendamento
                </button>
            </div>

        </form>
        </div>
    </div>
</div>
