<ol class="breadcrumb">
    <li>Imóveis</li>
</ol>
<div>
    <div class="navbar navbar-default" ng-if="::vm.podeInserirImovel">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" ui-sref="imovelForm" class="btn btn-default navbar-btn">Novo
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Filtros</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <form>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label for="dataInicialCadastro">Data Cadastro</label>
                        <div class="input-group">
                            <input id="dataInicialCadastro" type="text" class="form-control" is-open="vm.dataInicialCadastro.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataInicialCadastro.dateOptions"  readonly ng-model="vm.filtro.dataInicialCadastro" style="background:#fff"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataInicialCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label for="dataFinalCadastro">&nbsp;</label>
                        <div class="input-group">
                            <input id="dataFinalCadastro" type="text" class="form-control" is-open="vm.dataFinalCadastro.opened" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dataFinalCadastro.dateOptions"  readonly ng-model="vm.filtro.dataFinalCadastro" style="background:#fff"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.abrirCalendario('dataFinalCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label>Descrição</label>
                        <input type="text" ng-model="vm.filtro.descricao" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label>Cliente/Responsáveis</label>
                        <input type="text" ng-model="vm.filtro.cliente" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label>Cadastrado por</label>
                        <select id="usuario" name="usuario" ng-model="vm.filtro.usuario" class="form-control"
                                ng-options="usuario.codigo as usuario.nome for usuario in vm.usuarios">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4">
                        <label>Endereço</label>
                        <input type="text" ng-model="vm.filtro.endereco" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label>Bairro</label>
                        <input type="text" ng-model="vm.filtro.bairro" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        <label>Cidade</label>
                        <input type="text" ng-model="vm.filtro.cidade" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-2">
                        <label for="uf">UF</label>
                        <select id="uf" name="uf" ng-model="vm.filtro.uf" class="form-control"
                                ng-options="uf for uf in vm.estados" >
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label>Tipo</label>
                        <select id="tipo" ng-model="vm.filtro.tipo" class="form-control"
                                ng-options="tipo.codigo as tipo.descricao for tipo in vm.tiposImovel">
                            <option value="">Todas</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label>Situação</label>
                        <select id="situacao" ng-model="vm.filtro.situacao" class="form-control"
                                ng-options="situacao.codigo as situacao.descricao for situacao in vm.situacoesImovel">
                            <option value="">Todas</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label class="hidden-xs">&nbsp;</label>
                        <button type="submit" class="btn btn-primary col-xs-12" ng-click="vm.load()" ng-disabled="vm.carregando">
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;{{ vm.carregando ? 'Carregando...' : 'Atualizar/Carregar' }}&nbsp;
                        </button>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label class="hidden-xs">&nbsp;</label>
                        <button type="button" class="btn btn-default col-xs-12" ng-click="vm.limparFiltros()" ng-disabled="vm.carregando">
                            <i class="glyphicon glyphicon-remove"></i>&nbsp;{{ vm.carregando ? 'Carregando...' : 'Limpar Filtros' }}&nbsp;
                        </button>
                    </div>
                    <div class="form-group col-xs-12 col-sm-3 col-md-2">
                        <label class="hidden-xs">&nbsp;</label>
                        <button type="button" class="btn btn-default col-xs-12" ng-click="vm.download()" ng-disabled="vm.carregando">
                            <i class="glyphicon glyphicon-download"></i>&nbsp;{{ vm.carregando ? 'Carregando...' : 'Download Excel' }}&nbsp;
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-if="vm.carregando" style="padding:20px; text-align: center; font-weight: bold;">
        Carregando...
    </div>
    <div ng-if="!vm.carregando && vm.imoveis.length === 0" style="padding:20px; text-align: center; font-weight: bold;">
        Nenhum imóvel localizado
    </div>
    <div infinite-scroll="vm.carregarMaisImoveis()" infinite-scroll-use-document-bottom="true" ng-if="!vm.carregando">
        <div class="panel panel-default" ng-repeat="imovel in vm.imoveis">
            <div class="panel-heading">
                <div class="panel-title">{{::imovel.codigo}} - {{::imovel.descricao}}</div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <img ng-src="{{::vm.getFotoPrincipal(imovel)}}" style="width: 100%; max-width: 196px;"/>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10">
                    <div>{{::imovel.tipoImovel.descricao}} - {{::imovel.situacaoImovel.descricao}}</div>
                    <div>Cliente: <a href="#" ui-sref="clienteForm({ codigo: imovel.clientes[0].codigo })" target="_blank">{{imovel.clientes[0].codigo
                        + '-' + imovel.clientes[0].nome}}</a></div>
                    <div>Endereço: {{::vm.formatarEndereco(imovel.endereco)}}</div>
                    <div>Cadastrado por: {{::imovel.usuario.nome}} em {{::imovel.dtCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
                    <div style="margin-top:4px;" class="btn-toolbar">
                        <button ui-sref="agendamentoVisita({ codigo: imovel.codigo })" type="button"
                                class="btn btn-primary col-xs-12 col-sm-3 col-md-2" ng-if="::vm.podeAgendarVisita">
                            <i class="glyphicon glyphicon-bell"></i>&nbsp;
                            Agendar Visita
                        </button>
                        <a href="{{::vm.getLinkGMaps(imovel.endereco)}}" class="btn btn-default col-xs-12 col-sm-3 col-md-2"
                           target="_blank">
                            <i class="glyphicon glyphicon-map-marker"></i>&nbsp;
                            Ver no Mapa
                        </a>
                        <a href="#" class="btn btn-default col-xs-12 col-sm-3 col-md-2"
                           ui-sref="imovelForm({ codigo: imovel.codigo })">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;
                            {{::vm.podeEditarImovel ? 'Editar' : 'Visualizar' }}
                        </a>
                        <a href="#" class="btn btn-danger col-xs-12 col-sm-3 col-md-2"
                           ng-click="vm.excluirImovel(imovel); $event.preventDefault()" ng-if="::vm.podeExcluirImovel">
                            <i class="glyphicon glyphicon-remove"></i>&nbsp;Excluir
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.carregandoMais" style="padding:20px; text-align: center; font-weight: bold;">
            Carregando mais imóveis...
        </div>
        <div ng-if="!vm.carregarMais && vm.imoveis.length > 0" style="padding:20px; text-align: center; font-weight: bold;">
            Fim da busca
        </div>
    </div>
</div>