<div>
    <ol class="breadcrumb">
        <li><a href="#" ui-sref="imovelList">Imóveis</a></li>
        <li>{{vm.titulo}}</li>
    </ol>
    <div class="navbar navbar-default" ng-if="vm.podeInserirImovel || vm.podeSalvar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" ng-disabled="vm.carregando" ng-if="::vm.podeInserirImovel" ng-click="vm.abrirNovoCadastro()">Novo</button>
                    <button type="button" class="btn btn-success navbar-btn" ng-disabled="vm.carregando"
                            ng-click="vm.salvar()" ng-if="::vm.podeSalvar">Salvar
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Dados do Imóvel">
            <div class="form-tab">
                <form>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label for="descricao">Descrição*</label>
                            <input type="text" id="descricao" ng-model="vm.imovel.descricao" placeholder="Exemplo: Residencial San Martin" class="form-control" ng-required />
                        </div>
                        <div class="form-group col-xs-10 col-sm-5">
                            <label for="cliente">Cliente*</label>
                            <select id="cliente" name="cliente" class="form-control"
                                    ng-options="cliente.nome for cliente in vm.clientes | orderBy:'nome' track by cliente.codigo"
                                    ng-model="vm.imovel.cliente" ng-required>
                            </select>
                        </div>
                        <div class="form-group col-xs-2 col-sm-1">
                            <label>&nbsp;</label>
                            <a href="#" class="form-control btn btn-default" target="_blank" ui-sref="clienteForm({ codigo: vm.imovel.cliente.codigo })">
                                <i class="glyphicon glyphicon-edit" uib-tooltip="Editar Cliente"></i>
                            </a>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="tipoImovel">Tipo*</label>
                            <select id="tipoImovel" name="tipoImovel" class="form-control"
                                    ng-options="tipoImovel.descricao for tipoImovel in vm.tiposImovel track by tipoImovel.codigo"
                                    ng-model="vm.imovel.tipoImovel" ng-required>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="situacaoImovel">Situação*</label>
                            <select id="situacaoImovel" name="situacaoImovel" class="form-control"
                                    ng-options="situacaoImovel.descricao for situacaoImovel in vm.situacoesImovel track by tipoImovel.codigo"
                                    ng-model="vm.imovel.situacaoImovel" ng-required>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-3 col-md-2">
                            <label for="cep">CEP</label>
                            <div class="input-group">
                                <input class="form-control" type="text" name="cep" id="cep"
                                       ng-model="vm.imovel.endereco.cep"/>
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-5">
                            <label for="logradouro">Endereço*</label>
                            <input class="form-control" type="text" name="logradouro" id="logradouro"
                                   ng-model="vm.imovel.endereco.logradouro" ng-required/>
                        </div>
                        <div class="form-group col-xs-6 col-sm-2 col-md-2">
                            <label for="numero">Nº</label>
                            <input class="form-control" type="text" name="numero" id="numero"
                                   ng-model="vm.imovel.endereco.numero"/>
                        </div>
                        <div class="form-group col-xs-6 col-sm-2 col-md-3">
                            <label for="bairro">Complemento</label>
                            <input class="form-control" type="text" name="complemento" id="complemento"
                                   ng-model="vm.imovel.endereco.complemento"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="bairro">Bairro*</label>
                            <input class="form-control" type="text" name="bairro" id="bairro"
                                   ng-model="vm.imovel.endereco.bairro" ng-required/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="cidade">Cidade*</label>
                            <input class="form-control" type="text" name="cidade" id="cidade"
                                   ng-model="vm.imovel.endereco.cidade" ng-required/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-2">
                            <label for="uf">UF*</label>
                            <select id="uf" name="uf" ng-model="vm.imovel.endereco.uf" class="form-control"
                                    ng-options="uf for uf in vm.estados"
                                    ng-required>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="usuario">Cadastrado por</label>
                            <input class="form-control" type="text" name="usuario" id="usuario" ng-disabled="true"
                                   value="{{::vm.imovel.usuario.nome}}" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            <label for="dtCadastro">Data cadastro</label>
                            <input class="form-control" type="text" name="dtCadastro" id="dtCadastro" ng-disabled="true"
                                   value="{{::vm.imovel.dtCadastro | date : 'dd/MM/yyyy HH:mm'}}" />
                        </div>
                    </div>
                </form>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Responsáveis">
            <div class="form-tab">
                <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vincular Responsável</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-5">
                                    <label for="responsavel_cliente">Cliente*</label>
                                    <select id="responsavel_cliente" name="responsavel_cliente" class="form-control"
                                            ng-options="cliente.nome for cliente in vm.clientes | orderBy:'nome' track by cliente.codigo"
                                            ng-model="vm.responsavel.cliente" ng-required>
                                        <option value="">-- Selecione --</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-12 col-sm-3">
                                    <label for="responsavel_telefone">Telefone</label>
                                    <input id="responsavel_telefone" class="form-control"
                                           name="responsavel_telefone"
                                           ng-model="vm.responsavel.cliente.telefone" type="text" readonly="readonly" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-4">
                                    <label for="responsavel_tipo">{{ vm.responsavel.cliente.tiposCliente.length ? 'Tipo de Responsável*' : 'Tipo de Responsável' }}</label>
                                    <select id="responsavel_tipo" name="responsavel_tipo" class="form-control"
                                            ng-options="tipoCliente.descricao for tipoCliente in vm.responsavel.cliente.tiposCliente | orderBy:'descricao' track by tipoCliente.codigo"
                                            ng-model="vm.responsavel.tipoResponsavel" ng-required>
                                        <option value="">{{ vm.responsavel.cliente.tiposCliente.length ? '-- Selecione --' : 'Nenhum tipo registrado neste cliente' }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-12 col-sm-2">
                                    <button type="button" class="btn btn-success col-xs-12" ng-click="vm.inserirResponsavel()">Inserir</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                </div>
                <div ng-repeat="responsavel in vm.responsaveis" class="col-xs-12 col-sm-4 col-md-3" ng-if="vm.responsaveis.length > 0">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="font-weight: bold;">{{responsavel.nome}}</div>
                            <div>{{responsavel.telefone}}</div>
                            <div ng-if="responsavel.tipoResponsavel">
                                {{responsavel.tipoResponsavel.descricao}}
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" class="btn btn-danger" ng-click="vm.excluirResponsavel(responsavel, $index)">Excluir</button>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.responsaveis.length === 0">
                    Nenhum responsável foi vinculado
                </div>
                <div class="clearfix"></div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Fotos">
            <div class="form-tab">
                <div ng-repeat="foto in vm.imovel.fotos" class="col-xs-6 col-sm-4 text-center">
                    <img ng-src="{{foto}}"   style="width: 100%; max-height: 256px; border: 1px solid #ddd;" />
                </div>
                <div class="clearfix"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>